
.banner {
    height: 100vh;
    background: url(asset/StockSnap_V8TGHH7O8U.jpg);
    background-size: cover;
    background-position: center;
}

.banner-content {
    height: 88%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story {
    height: 80vh;
    display: flex;
    justify-content: center;

}

.image {
        height: 100vh;
        background: url(asset/StockSnap_GEVAEIZQH1.jpg);
        background-size: cover;
        background-position: center;
}

.date{
    margin-top: -10vh;
    height: 80vh;
    width: 80%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

